doctype
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/chunkfive-fontface.css')
  body
    header
      nav
        ul
          li 
            a(href="/") Home
          li 
            a(href="/about") About
          li 
            a(href="/contact") Contact

    h2 About Me
    section#wrapper
        block content
        footer 
          section.css-table
            section.four-column
              section.cell
                p I am a 23 year old undergraduate student at Rowan University majoring in Computing and Informatics.
              section.cell
                p I currently work part-time retail while studying full-time and plan to graduate in the Spring of 2021.
              section.cell
                p Here is a picture of me and my girlfriend on our recent trip to Alaska:
              section.cell
                img(src='./images/us.jpg', max-width='100%')