doctype
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/chunkfive-fontface.css')
  body
    h1 Tim Rhoades
    header
      nav
        ul
          li 
            a(href="/") Home
          li 
            a(href="/about") About
          li 
            a(href="/contact") Contact

    h2 Contact Me
    form(action='./comments.txt')
    textarea(rows='10', cols='40')
        | Leave a comment...
    br
    br
    input(type='submit', value='Submit')

    section#wrapper
        block content
        footer 
          section.css-table
            section.four-column
              section.cell
                p I can be reached at either links below, or leave me a comment!
              section.cell
                a(href = "http://github.com") Github
              section.cell
                a(href = "http://linkedin.com") LinkedIn
              section.cell
                p here are some more words

