doctype
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/chunkfive-fontface.css')
  body
    h1 Tim Rhoades
    header
      nav
        ul
          li 
            a(href="/") Home
          li 
            a(href="/about") About
          li 
            a(href="/contact") Contact

    h2 Home
    section#wrapper
        footer 
          section.css-table
            section.four-column
              section.cell
                p This is my personal Website that I've created for my Web Programming course.
              section.cell
                p I enjoyed making this site and it is my first ever public site that I have had to make.
              section.cell
                p I struggled with getting aws to cooperate with me mostly, and I had some issues </br> with getting image files to display from my linux instance.
              section.cell
                p Overall this has been a great learning experience for me and has </br> piqued my interest in web programming in general!